<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:type="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book Information</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1 class="container my-2 font-italic">Available Books</h1>
    <hr class="mt-2 mb-3">
    <a th:href="@{/showNewBookForm}" class="btn btn-primary btn-sm mb-3">Add Book</a>
    <a th:href="@{/showSearchBookForm}" class="btn btn-secondary btn-sm mb-3">Search Book</a>
    <a th:href="@{/issuedBookForm}" class="btn btn-light btn-sm mb-3">Issued Book</a>
    <table border="1" class="table table-striped table-responsive-md table-hover">
        <thead align="center">
        <tr>
            <th>Book Name</th>
            <th>Author Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody align="center">
        <tr th:each="book : ${listbooks}">
            <td th:text="${book.bookName}"></td>
            <td th:text="${book.bookAuthor}"></td>
            <td th:text="${book.price}"></td>
            <td align="center"><a th:href="@{/showUpdateBookForm/{id}(id=${book.id})}" class="btn btn-info">Update</a>
                <a th:href="@{/showDeleteBookForm/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
                <a th:href="@{/showUpdateIssuedForm/{id}(id=${book.id})}" class="btn btn-success">Isuue</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>