@(bookForm : Form[model.Book])
@import helper._
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Book</title>
</head>
<body>
	
	<h1>Create Book</h1>
	@helper.form(action = routes.BookController.save()){
		<input type="text" id="id" name="id" placeholder="Id" value="">
		<input type="text" id="name" name="name" placeholder="Title" value="">
		<input type="text" id="author" name="author" placeholder="Author" value="">
		<input type="text" id="price" name="price" placeholder="Price" value="">
		<input type="submit" value="Create Book">
	}
</body>
</html>